.page-header {
    height: 213px;
    background-color: #000;
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 0;
}
