.jumbotron {
    min-height: 420px;
    background-color: #000;
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 0;
}

.homepage-banner, .page-header {
  h1, p {
    color: #fff;
  }
}
