.jumbotron {
    height: 450px;
    background-color: #000;
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 0;
}

.homepage-banner {
  h1, p {
    color: #fff;
  }
}
