---
---

@import 'bootstrap/stylesheets/bootstrap';

@import 'banner';
@import 'homepage-banner';

.navbar {
  margin-bottom: 0;
}

figurecaption {
  display: block;
  padding: 3px 0;
  margin-bottom: 20px;
}

.thumbnail, iframe.flickr-embed {
  display: block;
  border: solid 1px #ddd;
  padding: 4px;
  margin-bottom: 24px;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.homepage-card {

  a {
    display: block;
    color: #000;
  }

  &:focus,
  &:hover {
    background-color: #f9f9f9;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
}
