---
---

@import 'bootstrap/stylesheets/bootstrap';

@import 'banner';
@import 'homepage-banner';

.navbar {
  margin-bottom: 0;
}

figurecaption {
  display: block;
  padding: 3px 0;
  margin-bottom: 20px;
}

.thumbnail, iframe.flickr-embed {
  display: block;
  border: solid 1px #ddd;
  padding: 4px;
  margin-bottom: 24px;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.homepage-card {

  a {
    display: block;
    color: #000;
  }

  &:focus,
  &:hover {
    background-color: #f9f9f9;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
}

.newsletter.thumbnail {
  position: relative;

  figcaption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    margin-left: -4px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
}
