
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include top-nav.html %}
    <div class="jumbotron homepage-banner" style="background-image: url({{ page.banner_image | relative_url }})">
      <div class="container">
        <header class="site-header">
          <h1>{{ site.title }}</h1>
        </header>
        <p>{{ site.description}}</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        {% for card in page.cards %}
        <div class="col-lg-4 col-md-6 homepage-card clearfix">
          <a href="{{ card.link | relative_url }}">
            <h2 class="homepage-card-title">{{ card.title }}</h2>
            <p class="homepage-card-blurb">{{ card.blurb }}</p>
            <p class="text-right"><i class="fa fa-arrow-circle-o-right fa-2x"></i></p>
          </a>
        </div>
        {% endfor %}

      </div>
    </div> <!-- /.container -->

    {% include footer.html %}
    {% include footer-scripts.html %}
    </body>
</html>
